/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    font-size: 16px;
    line-height: 1.4;
}

@media only screen and (max-width: 385px) {
  html, body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 355px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 335px) {
  html, body {
    font-size: 13px;
  }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 h2 {
   font-size: 1.85rem;
 }

 hr {
   margin-top: 0.2rem;
   margin-bottom: 0.3rem;
 }

 .subSection > .title {
   font-size: 1.05rem;
   margin-bottom: 0.18rem;
   font-weight: bold;
 }

 .subSection > .subtitle {
   font-size: 0.93rem;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .subSection > .subtitle > div:first-child {
   margin-right: 1.5rem;
}

 .subSection > .description {
  font-size: 0.93rem;
  /* text-align: justify;
  text-justify: inter-word; */
  }

  .legend {
    font-size: 0.93rem;
  }

 .subSection:not(:last-child) {
  margin-bottom: 1.15rem;
 }

 .leftOutline p, .leftOutline ul, .leftOutline h4{
  margin: 0px;
 }
 
 
 ul.leftIndent {
  margin-left: 1rem;
 }
 
.boldUnderline {
  border-bottom: 0.08em solid;
  font-size: 2.65rem;
  display: inline-block;
}
   
.basicList {
    list-style: none; 
    padding-left: 0;
 }
 
 .listWithVerticalPadding > li:not(:last-child) {
     margin-bottom: 0.5rem;
 }

 body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;/*cbd0d6*/
  color: #2a3642;/*#637283,#586470; */
 }
 
 
.fullWidthSection {
  display: block;
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 1.1rem;
}
 
 
 @media all and (min-width: 40em) {
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    .boldUnderline {
      border-bottom: none;
      margin-bottom: 0.3em;
    }

    html, body {
      font-size: 15px;
    }

    .avoidPageBreakInside, .subSection {
      page-break-inside: avoid;
    }

    .fullWidthSection {
      margin-top: 1.75em;
    }
       
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href].no-print-link:after {
      content: "";
  }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}